version: '3.8'
services:
  backend-myapp: # <-- Tên service này khớp với 'docker-compose push backend-myapp'
    build:       # <-- Lệnh 'build' để GitHub Actions xây dựng image
      context: .
      dockerfile: Dockerfile
    image: tanhuynh24/myapp:latest
    container_name: myapp-backend-node
    networks:
      - app-network
      
networks:
  app-network:
    driver: bridge