version: '3.8'
services:
  # Backend Service (Giữ nguyên cấu hình cũ)
  backend-myapp: 
    build:
      context: .
      dockerfile: Dockerfile
    image: tanhuynh24/myapp:latest
    container_name: myapp-backend-node
    networks:
      - app-network

  # Frontend Service (Mới)
  frontend-myapp: 
    build:
      context: .
      dockerfile: client/Dockerfile 
    image: tanhuynh24/myapp-frontend:latest # Tên image Frontend
    container_name: myapp-frontend-nginx
    networks:
      - app-network
      
networks:
  app-network:
    driver: bridge